.features-title {
  .title {
    font-size: 4.1rem;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 2.4rem;
    color: $black;
  }
  .sub-title {
    margin-bottom: 3rem;
  }
  .link {
    display: inline-block;
    font-weight: 600;
    margin-top: 2.5rem;
    color: #FE7F75;
  }
} 
