.products-inner {
  padding-bottom: 32rem;
  .inner-top {
    background-color: #f9f9f9;
    padding-top: 2rem;
    padding-bottom: 3rem;
    margin-bottom: 9rem;
    .products-filter {
      button{
        display: inline-block;
        font-weight: 500;
        text-transform: capitalize;
        border: 1px solid #939292;
        border-radius: 32px;
        padding: 1rem 2rem;
        margin: 0 .6rem;
        color: #272525;
        background-color: $white;
        transition: all .5s ease;
        &:hover {
          border: 1px solid #55B4E4;
          color: $white;
          background-color: #55B4E4;
        }
        &.active {
          border: 1px solid #55B4E4;
          color: $white;
          background-color: #55B4E4;
        }
      }
    }
  }
}
