/*-------------------------
EnterpriseTeams area
--------------------------*/
.enterprise-team {
  padding: 23rem 0 13rem 0;
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  background-color: $primary-color;
  .line {
    background-color: #FE778C;
  }
  h2 {
    font-size: 4.8rem;
    color: $white;
    span{
      color: #FE778C;
    }
  }
  p{
    color: $gray-color;
  }
  .first-text{
    margin: 3rem 0;
  }
}