/*-------------------------
purchasing area
--------------------------*/
.purchasing-area {
  background-color: #F9FAFB;
  .line {
    background-color: #FF6628;
  }
  .team-text {
    margin-top: 2rem;
  }
}