/*-------------------------
brand area
--------------------------*/
.brand-area {
  padding: 10rem 0;
  background-color: #F9FAFB;
  .features-title {
    margin-bottom: 4.5rem;
    line-height: 36px;
  }
  .container {
    .brand-container {
      .single-brand {
        text-align: center;
        padding: 30px 0;
      }
    } 
  }
}
